body{
    background-color:#121212;
}

.navbar{
    background-color:#182533;
    padding-top:15px;

}
.button{
    background-color: #182533;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    size: 15px;
}
.login{
    padding-left:125px;
    margin-left:38%;
    margin-right: 38%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top:10%;
    background-color: #182533;
    border-radius: 10%;
    
}
input{
    border:none;
    border-bottom:3px solid red;
    margin-bottom:20px;
    text-decoration:none;
    color: red;
    background-color: #000;


} 
input:focus{
    text-decoration: none;
    border-color: red;
}




#loginbut{
    margin-left:80px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 10%;
    color: #000;
    transition: 0.6s;

}
#loginbut:hover{
    background-color: red!important;
}
.nav-elt{
    padding-right:10px;
    margin-top:10px;
    font-size:25px;
    color:#fff;
}
.nav-elt:hover{
    color:#000 !important;
    text-decoration:none;
}
#welcome{
    text-align:center;
    font-size:50px;
    color: #fff;
}
.mycard{
    background-color:transparent    ;
    margin-left:20px;
    transition: 0.5s;
    box-shadow: 0 1000px 1000px 0 rgba(0,0,0,0.2);
    border-radius: 10%;

}


.title{
    color:yellow;
}
.mybutton{
    background-color: #1d9bf0   ;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    size: 30px;
}
.mybutton:hover{
 text-decoration:none;
 color:white;
 border-color:black;
}


#name{
    padding-left: 40px;
    padding-bottom: 40px;
    color: #fff;
}
::placeholder {
    color: #46494C;
}
.card-img{
    border-radius: 10%;
    transition: 0.3s;
    height: 25em;
}
.card-img:hover{
        transform: scale(1.01);

}
.cards{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.pageimage{
    height: 35em;
    padding-left: 100px;
    padding-top: 100px;
}
.content{
    display: grid;
    grid-template-columns: auto auto auto;
    color: #fff;
}